src/main/mule/template-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="raml-specification-template-api-config" api="resource::bd3e00c2-11e3-43c7-9437-c06466696ab7:raml-specification-template-api:1.0.1:raml:zip:raml-specification-template-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="raml-specification-template-api-main">
        <http:listener config-ref="httpListenerConfig" path="${https.listener.path}/${api.urlversion}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="util:api-entry" doc:id="76a93a96-a3d7-4a1a-be71-6a48cc45ecb1" name="util:api-entry" />
        <apikit:router config-ref="raml-specification-template-api-config" />
        <flow-ref doc:name="util:api-exit" doc:id="364fe392-dc5f-4d3b-ab59-11b3af05d524" name="util:api-exit" />
    </flow>
    <flow name="get:\template:raml-specification-template-api-config">
        <flow-ref doc:name="get:\template:api-impl" doc:id="44bf2c02-dbab-4ce7-852b-515fa711611f" name="get:\template:api-impl" />
    </flow>
    <flow name="get:\ping:raml-specification-template-api-config">
		<flow-ref doc:name="ping-subflow" doc:id="e21d3204-88a0-45e1-a28e-f9aaac7a6aee" name="ping-subflow" />
    </flow>
</mule>
